@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: #182C61;
  --text-color: #F97F51;
}

body {
  width: 100%;
  height: 100vh;
  font-family: "Poppins", sans-serif;
}

#app {
  width: 100%;
  height: 100vh;
  padding: 2rem;
  color: var(--text-color);
  background-color: var(--bg-color);
  overflow-y: scroll;
}

header {
  text-align: center;
  font-size: 2.4rem;
}

button {
  padding: 16px 36px;
  margin: 10px 0;
  font-size: 1.2rem;
  font-weight: 900;
  text-transform: uppercase;
  border-radius: 36px;
  border: 0;
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    border-bottom-width: 2px;
    transform: translateY(5px);
  }
}

.create-character {
  input {
    margin: 20px 0;
    padding: 12px 24px;
    font-size: 1.2rem;
    border-radius: 24px;
    border: 0;
  }

  .characters {
    display: flex;

    .character-options {
      flex-basis: 40%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      button.character-option {
        background-color: #EAB543;
        color: #2C3A47;
        border-bottom: 5px solid #F97F51;
      }
    }
    
    .character-preview {
      flex-basis: 60%;

      .character-preview-title {
        font-size: 2rem;
        font-weight: 700;
        text-transform: uppercase;
      }

      .character-preview-image {
        margin: 10px 0;
        width: 300px;
      }

      .character-preview-description {
        font-size: 1.2rem;
      }

      .character-preview-stats {
        display: flex;
    
        .character-preview-stat {
          min-width: 10%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          margin: 12px;
    
          img {
            width: 50px;
            border-radius: 50%;
          }
          
          .stat-value {
            font-size: 1.2rem;
            font-weight: 700;
          }
    
          .stat-name {
            font-weight: 300;
            font-style: italic;
          }
        }
      }
    }
  }

  button.start-btn {
    padding: 24px 48px;
    font-size: 2rem;
    background-color: #58B19F;
    color: #fff;
    border-radius: 48px;
    border-bottom: 10px solid #fff;
  }
}

.game {
  display: none;
  justify-content: space-between;
  gap: 6px;

  > * {
    width: calc(100% / 3);
    padding: 12px;
  }

  .player-info {
    .info-image {
      width: 100%;
    }

    .info-name {
      height: 70px;
      font-size: 2rem;
      font-weight: 700;
    }

    #player-name {
      text-align: right;
    }

    #enemy-name {
      text-align: left;
    }

    .list {
      margin-top: 10px;
      list-style: none;
  
      li {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 10px;
  
        .stat-icon {
          width: 60px;
          border-radius: 50%;
          margin-right: 6px;
        }
  
        label {
          font-size: 1.4rem;
          font-weight: 300;
        }
  
        progress {
          width: 100%;
          font-size: 1.4rem;
          font-weight: 300;
          appearance: none;

          &::-webkit-progress-bar {
            background-color: #f3f3f3;
          }

          &::-webkit-progress-value {
            background-color: var(--text-color);
          }

          &::-moz-progress-bar {
            background-color: #3498db;
          }
        }
      }
    }
  
    .battle-inventory {
      margin-top: 20px;
    }
  }

  .player-info:first-child {
    text-align: right;
  }
  
  .game-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

    .game-level {
      font-size: 1.4rem;
      font-weight: 700;
      text-transform: uppercase;
    }

    .game-log {
      height: 300px;
      overflow-y: scroll;
      margin: 20px;

      li {
        font-size: 1.2rem;
        font-weight: 300;
        line-height: 2rem;
        opacity: 0;
        transition: opacity .5s ease-in;
      }

      li.fade-in {
        opacity: 1;
      }
    }

    .attack-btn {
      background-color: #d63031;
      color: #fff;
      border-bottom: 5px solid #fff;
    }
  }
}

.shop {
  display: none;
  margin-top: 60px;
  text-align: center;

  img {
    width: 250px;
  }

  .shop-filters {
    .shop-filter {
      margin: 0 6px;
      background-color: #F97F51;
      color: #222;
      border-bottom: 5px solid #55E6C1;
    }
  }

  h2 {
    padding: 6px 12px;
    display: inline-block;
    font-size: 3rem;
    background-color: #333;
    color: #fff;
  }

  #shop-items {
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
  
    .item {
      display: flex;
      flex-direction: column;
      align-items: center;
      flex-basis: 25%;
      flex-grow: 1;
      margin-bottom: 12px;
  
      img {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        margin-bottom: 10px;
      }
  
      .item-cost {
        display: flex;
        align-items: center;
        gap: 8px;
        font-size: 1.2rem;
        font-weight: 700;
      }
  
      .item-name {
        font-weight: 500;
      }
      
      .item-effect {
        font-weight: 300;
      }

      .item-buy-button {
        padding: 6px 12px;
        font-size: .8rem;
        background-color: #F97F51;
        color: #222;
        border-bottom: 3px solid #55E6C1;
      }
    }
  }
}